{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
